.SideBar {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 72px;
}

.SideBar-icons {
  margin-left: auto;
  margin-right: auto;
}

.SideBar-brand {
  font-family: 'Helvetica Neue', sans-serif;
  font-stretch: condensed;
  text-transform: capitalize;
  font-size: 36px;
  align-self: center;
  margin-top: 20px;
}

.SideBar-icon {
  padding: 4px;
  padding-top: 24px;
  padding-bottom: 8px;
}