body {
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.App-header {
  display: inline-block;
}

.App-nav {
  background-color: #2E3A48;
  color: #fff;
}

.App-content-root {
  flex-grow: 1;
  overflow-y: scroll;
}