body {
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.App-header {
  display: inline-block;
}

.App-main {
  height: 100%;
}

.App-nav {
  flex-grow: 1;
  background-color: #2E3A48;
  color: #fff;
  width: 72px;
  padding: 8px;
}

.App-content-root {
  overflow-y: scroll;
}