.ShelfRow-author {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 32px;
  font-weight: 200;
  padding-top: 32px;
  padding-left: 64px;
  padding-bottom: 16px;
}

.ShelfRow-books {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: wrap 4;
  max-width: 1216px;
}

.ShelfRow-books-container {
  background-color: #F9883A;
  padding-left: 32px;
}