.ShelfRow {

}

.ShelfRow-author {
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 100; 
  padding-top: 32px;
  padding-bottom: 32px;
}

.ShelfRow-books {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: wrap 4;
  margin-right: 8px;
  margin-bottom: 8px;
}