.Header, .Header-em{
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 24px;
}

.Header-em {
  font-size: 32px;
  margin: auto 8px;
}

.Header {
  background-color: #9F4141;
  display: inline-block;
  padding: 16px;
  border-bottom-right-radius: 8px;
}